<%= form_with(model: @resume_list_item, local: true) do |form| %>

  <% if @resume_list_item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@resume_list_item.errors.count, "error") %> prevented this resume list item from being saved:
      </h2>
      <ul>
        <% @resume_list_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: @user_id %>

  <p>
    <%= form.label :list_type %><br>
    <%= form.select :list_type, ResumeList::LIST_TYPES %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>

  <p>
    <table>
      <tr>
        <td><%= form.submit 'Save', class: "standard-button nav-button", method: :post %></td>
        <td><%= link_to 'Back', users_path, class: "standard-button nav-button", method: :get %></td>
      </tr>
    </table>
  </p>

<% end %>