<div class="center-text">
<h3>
  <%= @user.full_name %>
</h3>

<% if @user.avatar.present? %>
  <div>
    <%= image_tag(@user.avatar.url) %>
  </div>
<% end %>

<% if @user.profile.present? %>
  <p>
    <%= @user.profile.address1 %>

    <% if @user.profile.address2.present? %>
      <br/>
      <%= @user.profile.address2 %>
    <% end %>

    <br/>
    <%= @user.profile.city %>, <%= @user.profile.state %>, <%= @user.profile.zip_code %>
  </p>
<% end %>

<p>
  <% if @user.profile.present? && @user.profile.phone.present? %>
    <strong>Phone:</strong>
    <% if @user.phone.length == 10 %>
      <%= number_to_phone(@user.profile.phone, area_code: true) %>
    <% else %>
      <%= @user.profile.phone %>
    <% end %>
  <% end %>

  <br/>
  <strong>Email:</strong>
  <%= @user.email %>

  <% if @user.profile.present? && @user.profile.skype_name.present? %>
    <br/>
    <strong>Skype Name:</strong>
    <%= @user.profile.skype_name %>
  <% end %>

</p>
</div>

<% if @user.profile.present? && @user.profile.job_description.present? %>
  <p>
    <h3>Objective:</h3>
    <%= @user.profile.job_description.html_safe %>
  </p>
<% end %>

<!-- Display Employment Records -->

<% if @user.employment_records.any? %>
  <%= button_to 'Show/Hide Employment History Section', "#", class: "toggle-employment-records standard-button toggle-button" %>
  <div class="employment-records">
    <h1>Employment History</h1>
    <p>
      <% @user.employment_records.order(:sort_order).each do |employment_record| %>
        <h2>
          <%= employment_record.employer_name %>
        </h2>

        <strong>Employment Dates:</strong>
        <%= employment_record.start_date.strftime("%B %Y") %> - <%= employment_record.format_end_date %>
        <br/>

        <strong>Job Title:</strong>
        <%= employment_record.job_title %>
        <br/>
        <br/>

        <strong>Job Description:</strong>
        <br/>
        <%= employment_record.job_description.html_safe %>
      <% end %>
    </p>
  </div>
<% end %>

<!-- Display Resume Lists -->

<% ResumeList::LIST_TYPES.each_with_index do |list_type, index| %>

  <% if ResumeList.my_resume_list_by_type(@user.id, list_type).any? %>
    <br/>
    <%= button_to "Show/Hide #{ResumeList::LIST_TITLES[index]} Section", "#", class: "toggle-#{ResumeList::LIST_DIV_HEADERS[index]} standard-button toggle-button" %>
  <% end %>

  <div class="<%= "#{ResumeList::LIST_DIV_HEADERS[index]}" %>">
    <%= render partial: 'resume_lists/resume_list_item', locals:  {title: ResumeList::LIST_TITLES[index], list_type: list_type} %>
  </div>

<% end %>

<!-- Display References -->
<% if @user.references.any? %>
  <br/>
  <%= button_to 'Show/Hide References Section', "#", class: "toggle-references standard-button toggle-button" %>
  <div class="references">
    <h2>References</h2>
    <p>
      <% @user.references.order(:sort_order).each do |reference| %>
      <h3>
        <%= reference.reference_name %>
      </h3>

      <strong>Email:</strong>
      <%= reference.email %>
      <br/>

      <strong>Phone:</strong>
      <%= number_to_phone(reference.phone, area_code: true) %>
      <br/>

      <br/>
      <%= reference.description.html_safe %>
    <% end %>
    </p>
  </div>
<% else %>
  <h2>References available upon request.</h2>
<% end %>




