<h3>
  <%= @user.full_name %>
</h3>

<% if @user.avatar.present? %>
  <div>
    <%= image_tag(@user.avatar.url) %>
  </div>
<% end %>
 
<% if @user.profile.present? %>
  <p>
    <%= @user.profile.address1 %>

    <% if @user.profile.address2.present? %>
      <br/>
      <%= @user.profile.address2 %>
    <% end %>

    <br/>
    <%= @user.profile.city %>, <%= @user.profile.state %>, <%= @user.profile.zip_code %>
  </p>
<% end %>

<p>
  <strong>Phone:</strong>
  <% if @user.phone.length == 10 %>
    <%= number_to_phone(@user.phone, area_code: true) %>
  <% else %>
    <%= @user.phone %>
  <% end %>

  <br/>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Objective:</strong>
  <%= @user.job_description %>
</p>

<p>
  <%= link_to 'Edit User', edit_user_path(@user) %> |

  <% if @user.profile.present? %>
    <%= link_to 'Edit Profile', edit_profile_path(@user.profile, user_id: @user.id) %> |
  <% else %>
    <%= link_to 'Add Profile', new_profile_path(user_id: @user.id) %> |
  <% end %>

  <%= link_to 'Back', users_path %>
</p>