<h3>
  <%= @user.full_name %>
</h3>

<% if @user.avatar.present? %>
  <div>
    <%= image_tag(@user.avatar.url) %>
  </div>
<% end %>

<% if @user.profile.present? %>
  <p>
    <%= @user.profile.address1 %>

    <% if @user.profile.address2.present? %>
      <br/>
      <%= @user.profile.address2 %>
    <% end %>

    <br/>
    <%= @user.profile.city %>, <%= @user.profile.state %>, <%= @user.profile.zip_code %>
  </p>
<% end %>

<p>
  <strong>Phone:</strong>
  <% if @user.phone.length == 10 %>
    <%= number_to_phone(@user.phone, area_code: true) %>
  <% else %>
    <%= @user.phone %>
  <% end %>

  <br/>
  <strong>Email:</strong>
  <%= @user.email %>

  <% if @user.skype_name.present? %>
    <br/>
    <strong>Skype Name:</strong>
    <%= @user.skype_name %>
  <% end %>

</p>

<p>
  <strong>Objective:</strong>
  <%= @user.job_description %>
</p>

<!-- Display Employment Records -->

<% if @user.employment_records.any? %>
    <%= link_to 'Show/Hide Employment History Section', "#", class: "toggle-employment-records" %>
    <div class="employment-records">
      <h2>Employment History</h2>
      <p>
        <% @user.employment_records.each do |employment_record| %>
        <h3>
          <%= employment_record.employer_name %>
        </h3>

        <strong>Employment Dates:</strong>
        <%= employment_record.start_date.strftime("%B %Y") %> - <%= employment_record.format_end_date %>
        <br/>

        <strong>Job Title:</strong>
        <%= employment_record.job_title %>
        <br/>
        <br/>

        <strong>Job Description:</strong>
        <br/>
        <br/>
        <%= employment_record.job_description.html_safe %>
      <% end %>
      </p>
    </div>
    <br/>
<% end %>

<!-- Display Resume Lists -->

<!-- Display Education List -->
<% if ResumeList.my_resume_list_by_type(@user.id, 'Education').any? %>
  <br/>
  <%= link_to 'Show/Hide Education Section', "#", class: "toggle-education" %>
<% end %>

<div class="education">
  <%= render partial: 'resume_lists/resume_list_item', locals:  {title: 'Education', list_type: 'Education'} %>
</div>

<!-- Display Award List -->
<% if ResumeList.my_resume_list_by_type(@user.id, 'Award').any? %>
  <br/>
  <%= link_to 'Show/Hide Awards Section', "#", class: "toggle-awards" %>
<% end %>

<div class="awards">
  <%= render partial: 'resume_lists/resume_list_item', locals:  {title: 'Awards', list_type: 'Award'} %>
</div>

<!-- Display Skill List -->
<% if ResumeList.my_resume_list_by_type(@user.id, 'Skill').any? %>
  <br/>
  <%= link_to 'Show/Hide Skills Section', "#", class: "toggle-skills" %>
<% end %>

<div class="skills">
  <%= render partial: 'resume_lists/resume_list_item', locals:  {title: 'Skills', list_type: 'Skill'} %>
</div>

<!-- Display Activities List -->
<% if ResumeList.my_resume_list_by_type(@user.id, 'Activity').any? %>
  <br/>
  <%= link_to 'Show/Hide Activities Section', "#", class: "toggle-activities" %>
<% end %>

<div class="activities">
  <%= render partial: 'resume_lists/resume_list_item', locals:  {title: 'Activities', list_type: 'Activity'} %>
</div>

<!-- Display References -->
<% if @user.references.any? %>
  <br/>
  <%= link_to 'Show/Hide References Section', "#", class: "toggle-references" %>
  <div class="references">
    <h2>References</h2>
    <p>
      <% @user.references.each do |reference| %>
        <h3>
          <%= reference.reference_name %>
        </h3>

        <strong>Email:</strong>
        <%= reference.email %>
        <br/>

        <strong>Phone:</strong>
        <%= number_to_phone(reference.phone, area_code: true) %>
        <br/>

        <strong>Description:</strong>
        <%= reference.description %>
      <% end %>
    </p>
  </div>
<% end %>

<p>
  <%= link_to 'Edit User', edit_user_path(@user) %> |

  <% if @user.profile.present? %>
    <%= link_to 'Edit Profile', edit_user_profile_path(@user.profile, user_id: @user.id) %> |
  <% else %>
    <%= link_to 'Add Profile', new_user_profile_path(user_id: @user.id) %> |
  <% end %>

  <% if @user.employment_records.any? %>
    <%= link_to 'Add Employment Record', new_employment_record_path(user_id: @user.id) %> |
    <%= link_to 'Edit Employment Records', employment_records_path(user_id: @user.id) %> |
  <% else %>
    <%= link_to 'Add Employment Record', new_employment_record_path(user_id: @user.id) %> |
  <% end %>

  <% if @user.resume_lists.any? %>
    <%= link_to 'Add Resume List Item', new_resume_list_path(user_id: @user.id) %> |
    <%= link_to 'Edit Resume Lists', resume_lists_path(user_id: @user.id) %> |
  <% else %>
    <%= link_to 'Add Resume List Item', new_resume_list_path(user_id: @user.id) %> |
  <% end %>

  <% if @user.references.any? %>
    <%= link_to 'Add Reference', new_reference_path(user_id: @user.id) %> |
    <%= link_to 'Edit References', references_path(user_id: @user.id) %> |
  <% else %>
    <%= link_to 'Add Reference', new_reference_path(user_id: @user.id) %> |
  <% end %>

  <%= link_to 'Back', users_path %>
</p>