<h3>
  <%= @user.full_name %>
</h3>

<% if @user.avatar.present? %>
  <div>
    <%= image_tag(@user.avatar.url) %>
  </div>
<% end %>

<% if @user.profile.present? %>
  <p>
    <%= @user.profile.address1 %>

    <% if @user.profile.address2.present? %>
      <br/>
      <%= @user.profile.address2 %>
    <% end %>

    <br/>
    <%= @user.profile.city %>, <%= @user.profile.state %>, <%= @user.profile.zip_code %>
  </p>
<% end %>

<p>
  <strong>Phone:</strong>
  <% if @user.phone.length == 10 %>
    <%= number_to_phone(@user.phone, area_code: true) %>
  <% else %>
    <%= @user.phone %>
  <% end %>

  <br/>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Objective:</strong>
  <%= @user.job_description %>
</p>

<!-- Display Employment Records -->
<% if @user.employment_records.any? %>
  <h2>Employment History</h2>

  <p>
    <% @user.employment_records.each do |employment_record| %>
      <h3>
        <strong>Employer:</strong>
        <%= employment_record.employer_name %>
      </h3>

      <strong>Start Date:</strong>
      <%= employment_record.start_date.strftime("%m-%d-%Y") %>
      <br/>

      <strong>End Date:</strong>
      <% if employment_record.end_date.present? %>
        <%= employment_record.end_date.strftime("%m-%d-%Y") %>
      <% else %>
        Still Employed
      <% end %>
      <br/>

      <strong>Job Title:</strong>
      <%= employment_record.job_title %>
      <br/>

      <strong>Job Description:</strong>
      <%= employment_record.job_description %>
    <% end %>
  </p>
<% end %>

<!-- Display Resume Lists -->

<!-- Display Education List -->
<%= render partial: 'resume_lists/resume_list_item', locals:  {title: 'Education', list_type: 'Education'} %>

<!-- Display Award List -->
<%= render partial: 'resume_lists/resume_list_item', locals:  {title: 'Awards', list_type: 'Award'} %>

<!-- Display Skill List -->
<%= render partial: 'resume_lists/resume_list_item', locals:  {title: 'Skills', list_type: 'Skill'} %>

<!-- Display Activities List -->
<%= render partial: 'resume_lists/resume_list_item', locals:  {title: 'Activities', list_type: 'Activity'} %>

<!-- Display References -->
<% if @user.references.any? %>
  <h2>References</h2>

  <p>
    <% @user.references.each do |reference| %>
      <h3>
        <%= reference.reference_name %>
      </h3>

      <strong>Email:</strong>
      <%= reference.email %>
      <br/>

      <strong>Phone:</strong>
      <%= number_to_phone(reference.phone, area_code: true) %>
      <br/>

      <strong>Description:</strong>
      <%= reference.description %>
    <% end %>
  </p>
<% end %>

<p>
  <%= link_to 'Edit User', edit_user_path(@user) %> |

  <% if @user.profile.present? %>
    <%= link_to 'Edit Profile', edit_user_profile_path(@user.profile, user_id: @user.id) %> |
  <% else %>
    <%= link_to 'Add Profile', new_user_profile_path(user_id: @user.id) %> |
  <% end %>

  <% if @user.employment_records.any? %>
    <%= link_to 'Add Employment Record', new_employment_record_path(user_id: @user.id) %> |
    <%= link_to 'View Employment Records', employment_records_path(user_id: @user.id) %> |
  <% else %>
    <%= link_to 'Add Employment Record', new_employment_record_path(user_id: @user.id) %> |
  <% end %>

  <% if @user.resume_lists.any? %>
    <%= link_to 'Add Resume List Item', new_resume_list_path(user_id: @user.id) %> |
    <%= link_to 'View Resume Lists', resume_lists_path(user_id: @user.id) %> |
  <% else %>
    <%= link_to 'Add Resume List Item', new_resume_list_path(user_id: @user.id) %> |
  <% end %>

  <% if @user.references.any? %>
    <%= link_to 'Add Reference', new_reference_path(user_id: @user.id) %> |
    <%= link_to 'View References', references_path(user_id: @user.id) %> |
  <% else %>
    <%= link_to 'Add Reference', new_reference_path(user_id: @user.id) %> |
  <% end %>

  <%= link_to 'Back', users_path %>
</p>