<h1>Employment Records for <%= "#{User.find(@user_id).full_name}" %></h1>

<p>
  <%= button_to 'New Employment Record', new_employment_record_path, class: "standard-button nav-button", method: :get, params: { user_id: @user_id } %>
</p>

<% if @employment_records.any? %>
  <table>
    <tr>
      <th>Employer Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Job Title</th>
      <th></th>
    </tr>

    <% @employment_records.each do |employment_record| %>
      <tr>
        <td><%= employment_record.employer_name %></td>
        <td><%= employment_record.start_date.strftime("%m-%d-%Y") %></td>

        <td>
          <% if employment_record.end_date.present? %>
            <%= employment_record.end_date.strftime("%m-%d-%Y") %>
          <% else %>
            Still Employed
          <% end %>
        </td>

        <td><%= employment_record.job_title %></td>
        <td><%= button_to 'Edit', edit_employment_record_path(employment_record), class: "standard-button nav-button", method: :get, params: { user_id: @user_id } %></td>
        <td><%= button_to 'Destroy', employment_record_path(employment_record), method: :delete, data: { confirm: 'Are you sure?' }, class: "standard-button alert-button", params: { user_id: @user_id } %></td>
      </tr>
    <% end %>
<% else %>
  <p>No Employment Records Have been Entered</p>
<% end %>
</table>

<p>
  <%= button_to 'Back', users_path, class: "standard-button nav-button", method: :get %>
</p>