<%= form_with(model: @reference, local: true) do |form| %>

  <% if @reference.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@reference.errors.count, "error") %> prevented this reference from being saved:
      </h2>
      <ul>
        <% @reference.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: @user_id %>

  <p>
    <%= form.label :reference_name %><br>
    <%= form.text_field :reference_name %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.trix_editor :description %>
  </p>

  <p>
    <table>
      <tr>
        <td><%= form.submit 'Save', class: "standard-button nav-button", method: :post %></td>
        <td><%= link_to 'Back', users_path, class: "standard-button nav-button", method: :get %></td>
      </tr>
    </table>
  </p>

<% end %>