<h1>References for <%= "#{User.find(@user_id).full_name}" %></h1>

<p>
  <%= button_to 'New Reference', new_reference_path, class: "standard-button nav-button", method: :get, params: { user_id: @user_id } %>
</p>

<% if @references.any? %>
  <table>
    <tr>
      <th>Reference Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
    </tr>

    <% @references.each do |reference| %>
      <tr>
        <td><%= reference.reference_name %></td>
        <td><%= reference.email %></td>
        <td><%= reference.phone %></td>

        <td><%= button_to 'Edit', edit_reference_path(reference), class: "standard-button nav-button", method: :get, params: { user_id: @user_id } %></td>
        <td><%= button_to 'Destroy', reference_path(reference), method: :delete, data: { confirm: 'Are you sure?' }, class: "standard-button alert-button", params: { user_id: @user_id } %></td>
      </tr>
    <% end %>
<% else %>
  <p>No References Have been Entered</p>
<% end %>
</table>

<p>
  <%= button_to 'Back', users_path, class: "standard-button nav-button", method: :get %>
</p>